{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                {% endif %}
                <form method="post" action="/signup/">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" id="id_address" name="email"
                               placeholder="Enter Email"/>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="id_class" name="class">
                            <option value="">Select Class</option>
                            <option value="Playgroup">Playgroup</option>
                            <option value="Nursery">Nursery</option>
                            <option value="LKG">LKG</option>
                            <option value="UKG">UKG</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="id_subject" name="subject">
                            <option value="">Select Subject</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="English">English</option>
                            <option value="Nap Time">Nap Time</option>
                            <option value="Science">Science</option>
                            <option value="Sports">Sports</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Create Teacher</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}