{% extends "base.html" %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/student_profile/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" id="ID" name="attendance_id"
                               value="{{ attendance.id }}" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="ID" name="student_id"
                               value="{{ attendance.student_id }}" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="firstName" name="first_name"
                               placeholder="Enter First Name" value="{{ attendance.student.first_name }}" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="lastName" name="last_name"
                               placeholder="Enter Last Name" value="{{ attendance.student.last_name }}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Grade</label>
                        <input type="number" class="form-control" id="email" name="grade"
                               placeholder="Grade" value={{ attendance.grade }}>
                    </div>
                    <div class="form-group">
                        <label>Present Days</label>
                        <input type="number" class="form-control" id="email" name="present_days"
                               placeholder="Enter Email" value={{ attendance.present_days }}>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}